* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 11px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
   width: 100%;
   display: grid;
   grid-template: 1fr / 1fr;
   place-items: center;
}

main {
   padding: 40px 20px;
}

form {
   display: grid;
   grid-template: 1fr / 1fr 1fr;
   gap: 100px;
   justify-items: center;
   padding: 20px;
   
}

input:not([type="checkbox"]), select {
   border: 2px solid black;
   padding: 15px 20px;
   border-radius: 40px;
   min-width: 215px;
}

.toggle-products-container-container {
   display: flex;
   width: 100%;
   align-items: center;
   gap: 20px;
   justify-content: center; 
}

.toggle-products-container-container h3 {
   font-size: 1.6rem;
}

.toggle-products-container {
   position: relative;
   width: 100px;
   height: 50px;
   border: 1px solid black;
   border-radius: 40px;
}

.toggle-products-container #toggle-products {
   width: 100%;
   height: 100%;
   opacity: 0;
}

#toggle-products--item {
   position: absolute;
   left: 5px;
   top: 50%;
   transform: translate(0, -50%);
   border-radius: 40px;
   width: 40px;
   height: 40px;
   background-color: black;
   transition: transform 200ms ease-in-out;
}

.toggle-products-container #toggle-products:checked + #toggle-products--item {
   transform: translate(calc(100% + 7px), -50%);
}

.manual-wrapper {
   display: none;
}

.data-inputs-container, .products-inputs {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.data-inputs-container input {
   min-width: 300px;
}

.input-wrapper {
   position: relative;
}

.input-wrapper label {
   position: absolute;
   background-color: white;
   padding: 0 5px;
   left: 25px;
   transform: translateY(-50%);
   font-size: 1.1rem;
}

.sheet { 
   position: relative;
   width: 21cm;
   height: 15.5cm;
   border: 1px solid black;
   border-radius: 20px;
}

.date-container {
   position: absolute;
   display: grid;
   grid-template-columns: 2.4cm repeat(2, .9cm) 1fr;
   place-items: center;
   height: 7mm;
   top: 1.7cm;
   left: 13.5cm;
}

.date-container span:last-child {
   padding-left: 5mm;
}

.client-data-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 2mm;
   top: 3.6cm;
   left: 1.3cm;
}

.client-data-container .name {
   margin-left: calc(2.2cm + 1.2cm);
   font-size: 13px;
   font-weight: bold;
   text-transform: uppercase;
} 

.client-data-container .address, .client-data-container .phone {
   margin-left: calc(1.3cm + 1.2cm);
}

.client-data-container .last-line {
   display: flex;
   position: relative;
}

.client-data-container .identification {
   position: absolute;
   width: 10rem;
   left: 9.5cm;
}

.client-data-container .payment-x {
   position: absolute;
   left: 15.9cm;
}

.client-data-container .credit-days {
   position: absolute;
   left: 17.6cm;
}

.order-container {
   background-color: white;
   position: absolute;
   display: grid;
   grid-template-columns: 1.3cm 12.5cm 2.2cm 1fr;
   width: 18.6cm;
   height: 4.15cm;
   left: 1cm;
   top: 5.5cm;
   padding-top: 2mm;
}

.order-container > div {
   display: flex;
   flex-direction: column;
   gap: 2mm;
}
.quantity-container, .unit-price-container, .order-price {
   justify-self: center;
}

.product-container {
   padding-left: .5cm;
   max-width: calc(100% - .5cm);
   overflow-x: hidden;
}

.observations-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 1mm;
   top: 12cm;
   left: 1.1cm;
   padding-left: 2cm;
}

.iva {
   position: absolute;
   top: 13cm;
   left: 14cm;
   transform: translate(-50%, calc(-100% - 1mm));
}

.price-container {
   position: absolute;
   width: 2.5cm;
   height: 3.7cm;
   display: grid;
   grid-template: repeat(7, 1fr) / 1fr;
   place-items: center;
   left: 17.5cm;
   top: 10cm;
   padding: 1mm;
}

.subtotal {
   align-self: start;
   grid-row: 1 / 2;
}

.total-without-taxes {
   grid-row: 5 / 6;
}

.taxes {
   grid-row: 6 / 7;
}

.total-with-taxes {
   grid-row: 7 / 8;
}

button {
   padding: 10px 20px;
   font-size: 1.5rem;
   border-radius: 20px;
   border: 1px solid black;
   cursor: pointer;
}

button:hover {
   border: 2px solid black;
}

select#category-select, select#product-select {
   text-transform: uppercase;
}

@media print {
   main {
      display: none;
   }

   .sheet {
      border: none;
   }

   .order-price > *::after {
      display: none;
   }
} 

@media (min-width: 40cm) {
   body {
      grid-template: 1fr / 1fr 1fr;
   }
}